@media (max-width: 575.98px) {
  .main-nav {
    padding-left: 0;
    padding-right: 0;
  }

  .main-nav .navbar-nav .nav-item .nav-link.active {
    display: inline-block;
  }

  .hero {
    height: 50vh;
  }

  .hero .carousel-img img {
    height: 100%;
  }

  .boxes {
    position: unset;
  }

  .boxes .box {
    padding: unset;
    padding: 1rem 0;
  }

  .about {
    margin-top: 25rem;
  }

  .about .about-single .about-single-left {
    margin-bottom: 1rem;
  }

  .about-inner .navigation {
    right: 50%;
    transform: translateX(50%);
  }

  .customers-and-clients .review-section .custom-navigation {
    padding: 0 2rem;
  }

  footer .top-footer {
    height: 30rem;
  }

  footer .top-footer p {
    text-align: center;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .main-nav .navbar-nav .nav-item .nav-link.active {
    display: inline-block;
  }

  .hero {
    height: 60vh;
  }

  .hero .carousel-img img {
    height: 100%;
  }

  .know-more {
    min-height: unset;
  }

  .about {
    margin-top: unset;
  }

  .about .about-single p {
    text-align: justify;
  }

  .media-and-blogs .box .box-description {
    padding: 1rem;
    height: 10rem;
  }

  .media-and-blogs .box.blog .box-description .desc {
    display: none;
  }

  .boxes {
    bottom: 10rem;
  }

  .boxes .box {
    height: 25rem;
  }

  .customers-and-clients .review-section .custom-navigation {
    padding: 0 2rem;
  }

  footer {
    min-height: unset;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
}

@media (min-width: 1400px) {
}
