/* Contents

  1. Common styles
  2. Hero Carousel
  3. Side List
  4. About Section
  5. Know More Section
  6. Media & Blogs
  7. Customer and clients slide
  8. Footer
  9. Explore the design section

*/

/* ================================ 1. Common styles ================================== */
.main-nav {
  padding-left: 10rem;
  padding-right: 10rem;
  background-color: #fff;
}
.main-nav .logo {
  width: 15rem;
}

.main-nav .navbar-nav .nav-item .nav-link {
  font-size: 1.4rem;
  font-family: Raleway-semibold;
}

.main-nav .navbar-nav .nav-item .nav-link.active {
  border-bottom: 2px solid var(--main-color);
}

.main-nav .navbar-nav .nav-item {
  margin: 0 1rem;
}

.section-title {
  font-family: Oswald-bold;
  font-size: 3.5rem;
}

.line {
  background-color: var(--main-color);
  height: 4px;
}

.line-big {
  width: 20rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.line-small {
  width: 15rem;
}

.btn-common {
  font-family: Raleway-semibold;
  background-color: var(--main-color);
  padding: 1rem 2rem;
  font-size: 1.3rem;
  color: #fff;
}

.btn-common:hover {
  background-color: #fff !important;
  border: 1px solid var(--main-color) !important;
  color: var(--main-color) !important;
}

.custom-navigation {
  z-index: 2;
  display: flex;
}

.custom-navigation span:first-child {
  margin-right: 1rem;
}

.custom-navigation span {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  color: #fff;
  cursor: pointer;
}

/* ============================= 2. Hero carousel ============================= */
.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;
}

.hero .carousel-img img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.hero .navigation {
  position: absolute;
  width: 100%;
  color: #fff;
  top: 10rem;
  left: 0;
  background-color: black;
  z-index: 2;
  padding: 2rem;
  text-align: center;
}

.hero .navigation #prev-hero-carousel,
.hero .navigation #next-hero-carousel {
  position: relative;
  margin: 0 2rem;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.hero .navigation #prev-hero-carousel::before {
  content: "";
  position: absolute;
  left: -12rem;
  top: 50%;
  width: 10rem;
  height: 0.1rem;
  background-color: #fff;
}

.hero .navigation #next-hero-carousel::after {
  content: "";
  position: absolute;
  right: -12rem;
  top: 50%;
  width: 10rem;
  height: 0.1rem;
  background-color: #fff;
}

.boxes {
  position: absolute;
  bottom: -10rem;
  left: 0;
  width: 100%;
  z-index: 2;
}

.boxes .box {
  aspect-ratio: 1/1;
  width: 100%;
  background-color: var(--secondary-color);
  border-radius: 10px;
  border: 3px solid rgb(218, 218, 218);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.boxes .box img {
  height: 10rem;
}

.boxes .box p {
  font-family: Raleway-bold;
  font-size: 1.6rem;
  text-align: center;
  margin-top: 1rem;
}

.section {
  padding: 5rem 0;
}

/* ========================================== 3. Side list =========================================== */
.side-list {
  position: fixed;
  right: 0;
  top: 50%;
  z-index: 9;
  transform: translateY(-50%);
}

.side-list ul {
  list-style-type: none;
}

.side-list ul li {
  background-color: black;
  height: 4.5rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.2rem;
}

.side-list ul li.active {
  background-color: var(--main-color);
}

.side-list ul li img {
  width: 2rem;
}

/* ===================================== 4. About section =================================== */
.about {
  margin-top: 20rem;
}

.about-inner {
  position: relative;
}

.about-inner .navigation {
  position: absolute;
  bottom: 0;
  right: 0;
}

.about .about-single .logo {
  width: 15rem;
}

.about .about-single p {
  margin-top: 4rem;
  margin-bottom: 4rem;
  font-family: Raleway-regular;
  font-size: 1.3rem;
}

.about .about-single .about-single-left {
  background: url(../img/logo10.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.about .about-single .featured-image {
  width: 100%;
}

/* =================================== 5. Know more ================================== */
.know-more {
  width: 100%;
  min-height: 100vh;
  background: url(../img/image4.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.know-more .top-section-title {
  display: flex;
  justify-content: space-between;
}

.know-more .top-section-title .section-title {
  color: #fff;
}

.know-more .top-section-title .logo {
  width: 15rem;
}

.know-more .text {
  font-family: Raleway-bold;
  color: #fff;
  font-size: 1.3rem;
}

.know-more .list {
  margin-top: 2rem;
}

.know-more .list-ul {
  list-style-type: none;
}

.know-more .list-ul li {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.know-more .list-ul li .image {
  height: 6rem;
  width: 6rem;
  background-color: var(--main-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  border: 4px solid var(--main-color-shadow);
}

.know-more .list-ul li .image img {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
}

/* =========================== Media & Blogs ================================== */
.media-and-blogs .box {
  height: 30rem;
  position: relative;
}

.media-and-blogs .box .box-description {
  padding: 1.5rem 3rem 1rem;
  background-color: rgba(1, 1, 1, 60%);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 11rem;
  border-radius: 0 0 1.5rem 1.5rem;
}

.media-and-blogs .box .box-description .title,
.media-and-blogs .box .box-description .desc {
  color: #fff;
  margin-bottom: 0;
}

.media-and-blogs .box .box-description .title {
  font-size: 1.3rem;
  font-family: Raleway-bold;
  margin-bottom: 1rem;
}

.media-and-blogs .box .box-description .desc {
  font-family: Raleway-semibold;
}

.media-and-blogs .box .box-description .box-link {
  text-decoration: none;
  color: #fff;
  font-family: Raleway-bold;
  float: right;
  font-size: 1.1rem;
}

.media-and-blogs .box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.5rem;
}

.media-and-blogs .box.blog .box-description .box-link {
  float: unset;
}

.media-and-blogs .box .blog-date {
  position: absolute;
  top: 0;
  right: 3rem;
  height: 10rem;
  width: 4rem;
  background-color: var(--main-color);
  border-radius: 0 0 1rem 1rem;
  color: #fff;
  font-family: Oswald-bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.media-and-blogs .box .blog-date .date {
  font-size: 3rem;
}

.media-and-blogs .box .blog-date .month {
  font-size: 2rem;
}

/* ================================= 7. Customer and clients slider ================================ */
.customers-and-clients {
  background: url(../img/logo10.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.customers-and-clients .customer-and-clients-slider {
  margin-top: 2rem;
}

.customers-and-clients .customer-and-clients-slider .box {
  height: 25rem;
  border-radius: 2rem;
  background-color: #fff;
}

.customers-and-clients .customer-and-clients-slider .box .name-and-rating {
  font-family: Raleway-semibold;
  font-size: 1.3rem;
  text-transform: uppercase;
}

.customers-and-clients
  .customer-and-clients-slider
  .box
  .name-and-rating
  .rating
  i {
  color: #ffdf00;
}

.customers-and-clients .customer-and-clients-slider .box .review-text {
  font-family: Raleway-semibold;
  font-size: 1.1rem;
}

.customers-and-clients .customer-and-clients-slider .box .profile-image img {
  width: 100%;
  height: 25rem;
  object-fit: cover;
  border-radius: 2rem 0 0 2rem;
}

.customers-and-clients .customer-and-clients-slider .box.video-review {
  position: relative;
  border-radius: 5rem;
}

.customers-and-clients
  .customer-and-clients-slider
  .box.video-review
  .name-div {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 5rem;
  border-radius: 0 0 2rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customers-and-clients
  .customer-and-clients-slider
  .box.video-review
  .name-div
  .name {
  font-family: Raleway-semibold;
  font-size: 1.3rem;
  text-transform: uppercase;
}

.customers-and-clients .customer-and-clients-slider .box.video-review img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2rem;
}

.customers-and-clients
  .customer-and-clients-slider
  .box.video-review
  .youtube-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.customers-and-clients
  .customer-and-clients-slider
  .box.video-review
  .youtube-logo
  img {
  width: 8rem;
}

.customers-and-clients .review-section {
  position: relative;
}

.customers-and-clients .review-section .custom-navigation {
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  padding: 0 5rem;
}

.clients-ribbon img {
  height: 10rem;
}

.clients-ribbon .col-md-10 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ============================= 8. Footer =================================== */
footer .top-footer {
  height: 15rem;
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .top-footer p {
  font-family: Oswald-bold;
  font-size: 4rem;
  color: #fff;
}

footer .top-footer .link {
  background-color: #111;
  color: #fff;
  font-size: 1.3rem;
  font-family: Raleway-semibold;
  width: 15rem;
  padding: 1rem 0;
}

footer .top-footer .link:hover {
  background-color: #fff;
  color: #111;
}

footer {
  min-height: 100vh;
  width: 100%;
  background: url(../img/image.jpg);
}

footer .bottom-footer {
  padding: 10rem 0;
}

footer .bottom-footer .logo {
  width: 15rem;
}

footer .bottom-footer .text {
  font-family: Raleway-medium;
  color: #fff;
  font-size: 1.2rem;
  margin-top: 1rem;
}

footer .bottom-footer .footer-social-ul {
  display: flex;
  list-style-type: none;
  margin-bottom: 0;
}

footer .bottom-footer .footer-social-ul img {
  width: 3.5rem;
}

footer .title {
  font-size: 3rem;
  font-family: Oswald-bold;
  color: var(--main-color);
}

footer .copyright {
  background-color: #3b3b3b;
  color: #fff;
}

footer .copyright .copyright_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
}

footer .copyright .links a {
  color: #fff;
  text-decoration: none;
}

/* ==================================== Explore the design section ==================================== */
.designs .single-design {
  height: 25rem;
  width: 100%;
  position: relative;
}

.designs .single-design img {
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  transition: 0.3s ease;
}

.designs .single-design .desc {
  display: none;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(1, 1, 1, 70%);
  color: #fff;
  padding: 1.5rem;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.designs .designs-carousel .owl-item.active.center .single-design .desc {
  display: flex;
}

.designs .designs-carousel .owl-item.active.center .single-design img {
  filter: grayscale(0%);
}

.designs .designs-carousel .owl-item.active {
  transition: 0.3s ease;
}

.designs .designs-carousel .owl-item.active.center {
  transform: scale(1.2);
  z-index: 2;
}

.designs .designs-carousel .owl-stage-outer {
  padding-top: 50px;
  padding-bottom: 50px;
}
